

:root {
    --bg-color: #f7fafe; 
    --accent-color: #c4cac6;
    --sec-accent-color: #000000;
    --spacing: 20px;
}

Body {
    margin: 0%;
    border: 20;
font-family:"sans-serif"; 
background-color: var(--bg-color);   

}

h1,
h2,
h3,
{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin: 0;
    padding: 0;
    border:0;
 }



ul{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    border: 20px;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    list-style-type: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: space-between;
    gap: var(--spacing);
    background-color: #00000037;
    background-size: 100px;
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color:#000000
}

a:hover{
    color: var(--sec-accent-color)
}

main{
    padding: var(--spacing);
    color:var(--accent-color)
    
}

main> h1{

}

#conocenos{
    padding: var(--spacing);
    text-align: right;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 700px;
padding-top: 200px;
color: #000000;
}

main> img{
width: 400px;
}

main{
    
 display:flex;´
 justify-content: space-between;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; ;
}
   
section{
    padding-top: 0;
    background-color: #faf7f2;
    border-top: 0;

}

section> img{
    padding-left: 500px;
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
}

header> nav{
    background-size: 100;
    background-color:#00000037;
    margin:var(--accent-color) 20px;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px
    
}

nav> br{
    color:#00000037;
}



h1#proyectos{
    padding-left: 70px;
    padding-top: 100px;
    background-color: rgba(235, 206, 133, 0.211);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 2em;
    
}

#proyectos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2em;
    background-color: #c4cac651;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

form{
    padding-left:30px;
    padding-bottom: 30px;
    font-size: 2m;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

section#fotos > ul{
    display:grid;
    grid-template-columns: repeat (auto-fill, minmax(300px, 1fr));
    display:flex;

}

section#fotos img{
    width: 100%;
    height:300px;
    object-fit: cover;


}

footer{
    background-color: #0000008f;´
    padding-top: 20px;
    padding-bottom: 20px;
    text-aling: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

footer> p{
    padding-top: 20px;
    text-align: center;
}