

:root {
    --bg-color: #fbf8f1; 
    --accent-color: #c4cac6;
    --sec-accent-color: #000000;
    --spacing: 20px;
}


h1,
h2,
h3,
{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    border-top: 0%;
}

nav{
    margin-top: 0%;
    outline: 0%;
    border-top: 0%;
}


ul{
    padding: 20px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 0;
    border: 10px;
    border-top: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    list-style-type: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: space-between;
    gap: var(--spacing);
    background-color: #00000037;
    background-size: 100px;
    list-style-type: none;
    font-size: 17px;
    }



a{
    text-decoration: none;
    color:#000000
}

a:hover{
    color: var(--sec-accent-color)
}

#logo1{
    background-color: var(--bg-color);
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
    padding-left: 0%;
    width: 100;
    margin-bottom: 0%;
}

  #logo{
background-color:fbf8f0;
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
    padding-left: 400px;
    margin-bottom: 0%;
    }




main{
    text-align: right;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 0%;
padding-right: 30px;
color: #000000;
font-size: 17px;
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 margin-top: 0% ;
 display:flex;
 justify-content: space-between;
}

.ellos{
height: 400px;
object-fit: cover;
padding-left: 0%;
margin-left: 0%;
border-left: 0%;
float: left;
margin-right: 100px;
}

#conocenos{
padding-top: 95px;
padding-right: 60px;
}



#logo{
    padding-top: 0%;
    border-top: 0%;
    background-color: #faf7f2;
}



header> nav{
    background-size: 100;
    background-color:#00000037;
    margin:var(--accent-color) 30px;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     border: 0%;
     margin-top: 0%;
    
}

nav {
    color:#00000037;
    border: 0%;
    margin-top: 0%;
}



h1 #proyectos{
    padding-left: 70px;
    padding-top: 100px;
    background-color: rgba(235, 206, 133, 0.211);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 2em;
    
}

#proyectos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2em;
    background-color: #c4cac651;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

form{
    padding-left:30px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

section#fotos > ul{
    display:grid;
    grid-template-columns: repeat (auto-fill, minmax(300px, 1fr));
    display:flex;

}

section#fotos img{
    width: 100%;
    height:300px;
    object-fit: cover;


}

#vermas{

    font-size: 20px;
    text-shadow: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5%;
    padding-left: 90%;
    text-align: end;
    text-weight:bold;

}

footer{
    background-color: #0000008f;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-size: 17px;
border-top: none;
}

#direccion{
    text-align: center;
    border-top: 20%;
}

#fra1{
    background-color:rgba(255, 127, 200, 0.415);
    border-top: 50%;
   font-style: italic;
   text-align:center;
   vertical-align: sub;
   padding-bottom: none;
   margin-bottom: 0%;
   
}

#punto{
    text-weight: bold;
    font-size: 2em;
    vertical-align: center;

    
}


.imagenesseiones{
width: 100%;
height: 100%;
object-fit: cover;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
