<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="../img/iconocam.png" type="image/png">
    <link rel="stylesheet" href="../style.css"/>
    <title>Proyectos</title>
</head>

<body>
<div class="imagenessesiones">
   <figure>
   <img src="../img/1-act-carro.webp" alt="sesion carro"></img>
<figcaption>Sesión carro 2022</figcaption></figure>
<figure>
    <img src="../img/10 act plateado.webp" alt="textura plateada">
    <figcaption>Sesión Textura plateada 2023</figcaption>
</figure>
<figure>
    <img src="../img/2-act-flores.webp" alt="flores">
    <figcaption>Sesión Flowers-street 2023 </figcaption>
</figure>
<figure>
    <img src="../img/3 act salon.webp" alt="salon"> 
    <figcaption>Sesión Salon Purplefusion 2023</figcaption>
</figure>
<figure>
    <img src="../img/4 act parque.webp" alt="rueda parque de atracciones">
    <figcaption>Sesión parque PresentHere 2024</figcaption>
</figure>
<figure><img src="../img/6 act moda.webp" alt="ropa guindada y silueta">
<figcaption> Sesión Myself 2024</figcaption>
</figure>
<figure>
    <img src="../img/8 act skateboard.webp" alt="skateboard">
    <figcaption>Sesión Skateboard 2025</figcaption>
</figure>
<figure>
    <img src="../img/7 act feria.webp" alt="feria en la calle">
    <figcaption>Sesión Feria 2025</figcaption>
</figure>
<figure>
    <img src="../img/5 act fotos navidad.webp" alt="Puesto de fotos Navideñas">
    <figcaption>Sesión Shutter Bus 2025</figcaption>
</figure>
</div>
</body>
</html>